
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.logo-img {
    width: 50%;
    height: 50%;
    margin-bottom:7px;
}

.logo-text {
    font-size: 120%;
}

.input-form {   
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
}

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.main-text {
    margin-top:10%;
}

.main-text-font {
    font-size: 80px;
    font-weight: 700;
}

.page-not-found-messege {
    text-align: center;
    margin-top: 20%;
}

.page-not-found-font {
    font-size:400%;
    font-weight: 900;
}

.footer {
    margin-top: 10%;
}

.margin-auto {
    margin: auto;
}

.display-inline-block {
    display: inline-block;
}

.vertical-center {
    vertical-align: center;
}

#btn-logout {
    width: 100%;
    margin-bottom: -4%;
}


.center-content {
    width: 80%;
    margin-left: 10%;
}