ul {
    width: 80%;
    margin-left: 10%;
}

#btn-return-post {
    margin-left: 2%;
    margin-top: 7%;
    overflow: auto;
}

#reply-list {
    margin-top: 5%;
    text-align: left;
}

#comment-text {
    padding-top: 2%;
}

#comment-wrapper {
    width: 100%;
    text-align: center;
}

#info-commenter {
    text-align: right;
}

#btn-crud {
    text-align: right;
    margin-right: 10%;
}

.reply-item {
    font-size: 80%;
}

.margin-top {
    margin-top: 2%;
}

#modefy-form {
    width: auto;
    width: 80%;
    margin-top: 1%;
}

#form-modify-apply {
    margin-top: 0.5%;
    margin-left: 70%;
    width: 80%;
    text-align: left;
}

#check-anonymous {
    margin-right: 3%;
}

#btn-modify-apply {
    width: 10%;
}