.btn-find-account {
    width: 30%;
}

.label-find-account {
    margin-top:30px;
}

.form-find-account {
    margin-top:5%;
}

.btn-auth-margin {
    margin-top: 2%;
    width: 100%;
}

.form-auth-input {
    margin-top:6%;
}

.margin-between-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-auth-check {
    margin-top: 6%;
    /* margin-left: 30%;
    margin-right: 30%; */
}

.btn-auth-check {
    margin-bottom: 0.3%;
}

