.btn-find-account {
    width: 30%;
}

.label-find-account {
    margin-top:30px;
}

.form-find-account {
    margin-top:5%;
}

.main-text {
    margin-top:10%;
}

.main-text-font {
    font-size: 80px;
}

.btn-auth-margin {
    margin-top: 2%;
    width: 100%;
}

.form-auth-size {
    margin-top: 6%;
    width: 50%;
}