#message-login-fail {
    padding-top: 5%;
    font-size: 80px;
    font-weight: 700;
}

#btn-login-change {
    margin-top: 5%;
    width: 40%;
}

#btn-move-index-page {
    margin-top: -0.5%;
    width: 40%;
}