
#table-posts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#posts-sort-type {
    margin-top: 2%;
    
}

#line-mid {
    border: solid 0.3px gray;
    width: 40%;
    margin: auto;
    margin-top:4%;
    margin-bottom:3%;
}

#pagenation {
    justify-content: center;
}

.btn-sort-type {
    width: 300px;
}

.btn-radio-size {
    width: 200px;
}

.btn-show-detail {
    width: 100%;
}

tr, td {
    padding: 10px;
}

.card-size {
    height: 200px;
    width: 100px;
}

.title-font {
    font-weight: 800;
}

.like-label {
    padding-bottom: 1%;
    padding-top: 2%;
    font-size: 100%;
}

.label-poster-name {
    padding-bottom: 1%;
    font-weight: 700;
}

#label-not-posted {
    margin-top: 5%;
    font-size: 400%;
    font-weight: 900;
}

.not-display {
    visibility: hidden;
}

