img {
    filter: brightness(60%); 
}

body {
    background-color: black;
}

.comment {
    padding-left: 3%;
}

#post-wrapper {
    position:relative;
    overflow:auto;
}

#post-img {
    width: 30%;
}

#post-content {
    color: white;
    font-size: 150%;
    position:absolute;
    top: 20%;
    padding: 5%;
}

#post-title {
    font-weight: 930;
    padding-left: 1%;
}

#post-comments {
    font-weight: 930;
    padding-left: 1%;
    padding-bottom: 0%;
    margin-top: 1%;
}

#form-report {
    display :inline-block;
}

#form-like {
    display :inline-block;
}

#comment-wrapper {
    width: 80%;
}

#btn-comment-submit {
    width: 10%;
}

.text-right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

