#before-picture {
    margin-left: 5%;
}

#now-picture {
}

#after-picture {
}

#center-text {
    margin-top: 7%;
    font-weight: 930;
    text-align: center;
}

#post-wrapper {
    width: 50%;
}

#title-wrapper {
    text-align: left;
    width: 100%;
}

#title-text {
    font-weight: 930;
}

#content-wrapper {
    text-align: left;
    width: 100%;
    margin-top: 2%;
}

#content-text {
    font-weight: 930;
}

#post-input-form {
    padding: 3%;
}

#checkbox-option {
    margin-top: 1%;
}

#btn-post {
    margin-top: 1%;
    width: 50%;
}

.margin-auto {
    margin: auto;
}

.display-inline-block {
    display: inline-block;
}

.pictures {
    width: 13%;
    padding: 1%;
    margin-top: 10%;
    vertical-align: top;
}

.btn-picture-change {
    width: 100%;
}


